
.display-3 {
    font-family: fantasy;

}

.text-muted {
    color: #0e0e0e !important;
}

.imagen {
    border-radius: 10%;
}

.nav-item {
    padding-right: 80px;
    display:inline;
}

body{
    background-color: red;
}
