
.vertical-center {
    text-align: center;
    height: 100%;
    width: 100%;
}

.titulo {
    color: whitesmoke;
    font-size: 3rem;
}

.form-group {
    display: inline;
}

.formulari {
    margin-left: 25%;
    margin-right: 25%;
}

body {
    background-image: url("../img/Roastedcoffee.jpg");

}

.container {
    min-width: 300px;
}

.jumbotron {
    background-color: rgba(1, 1, 1, 0.5);
}