
.form-group{
    text-align: center;
    width:20%;
    margin-left: auto;
    margin-right: auto;

}
/*
.form-control{
     margin-left:40%;
     margin-rigth:40%;
 }
.h3 {
    text-align: center
}
*/